<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Products</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{/styles.css}"/>
    <link th:rel="stylesheet" th:href="@{webjars/bootstrap/4.5.2/css/bootstrap.min.css} "/>
</head>

<body>
<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Shop Front-end</a>
</nav>

<div class="container">
    <h2>Products</h2>

    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th/>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product,iterStat : ${products}" th:class="${iterStat.odd}? 'odd'">
            <td th:text="${product.name}">a name</td>
            <td th:text="${product.type}">a type</td>
            <td>
                <a th:href="@{'/products/' + ${product.id}}" class="btn btn-secondary btn-sm">See more!</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>
